<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<md-dialog aria-label="Seleção de Produtos">
    <div layout="column" ng-cloak>
        <md-card>
            <center>
                <h2> Produto da Venda </h2>
            </center>
            <md-dialog-content layout-padding style="width: 400px">
                <form name="produtoVendaForm" novalidate="true">
                    <div layout layout-sm="column">
                        <!--<md-input-container style="width: 100%">
                            <label> Produto </label>
                            <input type="text">
                        </md-input-container>-->

                        <md-autocomplete flex required
                                         md-input-name="autocompleteProduto"
                                         md-no-cache="true"
                                         md-selected-item="produtoSelecionado"
                                         md-search-text="buscarProdutos(produto.descricao)"
                                         md-items="produto in buscarProdutos(produto.descricao)"
                                         md-item-text="produto.descricao"
                                         md-floating-label="Pesquisar produto">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText">{{produto.descricao}}</span>
                            </md-item-template>
                            <div ng-messages="searchForm.autocompleteField.$error" ng-if="produtoVendaForm.autocompleteProduto.$touched">
                                <div ng-message="required">Selecione o produto!</div>
                            </div> 



                        </md-autocomplete>
                    </div>

                    <div layout layout-sm="column">
                        <md-input-container style="width: 50%">
                            <label> Quantidade </label>
                            <input type="number">
                        </md-input-container>
                    </div>

                    <div flex layout layout-sm="column">
                        <md-card  style="width: 100%">
                            <div>
                                <label> Valor Unitário </label>
                            </div>
                            <div>
                                <h2> R$ 10,00 </h2>
                            </div>    
                        </md-card>
                    </div>

                    <div flex layout layout-sm="column">
                        <md-card  style="width: 100%">
                            <div>
                                <label> Valor Total </label>
                            </div>
                            <div>
                                <h2> R$ 10,00 </h2>
                            </div>    
                        </md-card>

                    </div>

                    <div class="md-actions" layout="row">

                        <md-button ng-click="cancelar()" >
                            Cancelar
                        </md-button>

                        <md-button ng-click="salvar()"  class="md-primary">
                            Salvar
                        </md-button>
                    </div>      


                </form>

            </md-dialog-content>


        </md-card>

    </div>
</md-dialog>